<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
  <div class="contenedor container">
    <a href="#" class="navbar-brand logos">
        <img src="../assets/logo.png">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link" routerLink="perfil" *ngIf="isLogin">Perfil</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link"><i class="fas fa-bell"></i></a>
          <span class="navbar-text">
            <a href="#" class="navbar-link" *ngIf="!isLogin" routerLink="login">Inicie Sesión</a>
            <a href="#" class="navbar-link" *ngIf="isLogin">{{ nombre }}</a>
          </span>
          <a href="#" class="nav-item nav-link" value="Login" routerLink="login" *ngIf="!isLogin">Ingresar <i class="fas fa-sign-in-alt"></i></a>
          <a href="#" class="nav-item nav-link" value="Salir"(click)="onLogout()" *ngIf="isLogin">Salir <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
  </div>
</nav>
<div class="fondo">
  <div class="contenedors pt-5 asd">
    <router-outlet></router-outlet>
    
  </div>
</div>