<div class="row cabe">
    <div class="col-12 col-md-12 col-xl-3 mb-2 p-3">
        <h2 class="text-center mb-3">Practicante</h2>
        <div class="col-12 d-flex justify-content-center">
            <img src="../../../assets/profile.jpg" class="rounded prfl">
        </div>
        <div class="col-12 py-3 text-center">
            <h6>Nombres: {{ nombre }}</h6>
            <h6>Apellidos: {{ apellidos }}</h6>
            <h6>Código Universitario: {{ codigou }}</h6>
            <h6>Plan Académico: {{ planA }}</h6>
            <h6>Periodo: {{ periodo }}</h6>
            <h6>Empresa: {{ empresa }}</h6>
            <h6>Area Formativa: {{ areaF }}</h6>
            <h6>Horas Acumuladas: {{ horasA }}</h6>
            <h6>Fecha inicio: {{ inicio }}</h6>
            <h6>Fecha fin: {{ fin }}</h6>
            <h6>Estado: {{ estado }}</h6>
        </div>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-xl-9 p-3">
        <div class="col doc d-flex justify-content-center">
            <img src="../../../assets/doc1.jpg" alt="">
        </div>
        <div class="col-12 d-flex justify-content-end mt-5">
            <button type="button" class="btn btn-danger btn-sm mx-2 my-2 ">
                Editar
            </button>
            <button type="button" class="btn btn-danger btn-sm my-2 mx-2 button button5">
                Aprobar
            </button>
        </div>
    </div>
</div>